.boton-clase{
    height: 100px;
    width: 350px;
    font-size: 34px;
}

span.frase::before{
    content:'Pasa por encima';
}

.boton-clase:hover{
    background-color: greenyellow;
    color:white;
}

.boton-clase:hover span::before{
    content: '¡Hecho!';
}