#elemento-1{
    color: red;
    font-size: 2rem;
}
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');

html{
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: 'Shantell Sans', cursive;;
    font-size: larger;
    font-weight: 400;
    /*font-style:italic*/
}